<h1>Locação</h1>

<h3>Cliente:</h3>
<h3><%= rental.client.full_description %></h3>

<h3>Detalhes da locação:</h3>
<dl>
  <dt>Data de início:</dt>
  <dd><%= rental.start_date.strftime('%d/%m/%Y') %></dd>
  <dt>Data de término:</dt>
  <dd><%= rental.end_date.strftime('%d/%m/%Y') %></dd>
  <dt>Categoria:</dt>
  <dd><%= rental.car_category.name %></dd>
  <dt>Status:</dt>
  <dd><%= rental.status %></dd>
  <dt>Código da reserva:</dt>
  <dd><%= rental.reservation_code %></dd>
</dl>