<h1>Locação</h1>

<h3>Cliente:</h3>
<h3><%= @rental.client.full_description %></h3>

<h3>Detalhes da locação:</h3>
<dl>
  <dt>Data de início:</dt>
  <dd><%= @rental.start_date.strftime('%d/%m/%Y') %></dd>
  <dt>Data de término:</dt>
  <dd><%= @rental.end_date.strftime('%d/%m/%Y') %></dd>
  <dt>Categoria:</dt>
  <dd><%= @rental.car_category.name %></dd>
  <dt>Status:</dt>
  <dd><%= @rental.status %></dd>
</dl>

<% if @rental.scheduled? %>
  <%= form_with model: @rental, url: start_rental_path, method: :post do |f| %>
    <%= f.label :car_id, 'Carro'%>
    <%= f.collection_select :car_id, @cars, :id, :description %>
    <%= f.submit 'Iniciar locação'%>
  <% end %> 
<% end %>

<%# if @rental.scheduled? %>
  <%#= link_to 'Iniciar locação', start_rental_path(@rental), method: :patch %>
<%# end %>

<%= link_to 'Voltar', root_path %>